

<h1 align="center">Listing Posts</h1>


  <% @posts.each do |post| %>
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
          <div class="card">

          <div class="card-body">
          <div class="card-title">
            <%= link_to post.name, post_path(post), class: "article-title" %>
          </div>

          <div class="card-text"><%= truncate(post.content, length: 100) %></div>
          <div class="article-meta-details">
          <small>Created by: <%= post.user.username %>, 
                <%= time_ago_in_words(post.created_at) %> ago,
                last updated: <%= time_ago_in_words(post.updated_at) %>
                </small>
           </div>     
              </div>        
                <!-- <td><%= link_to 'Show', post %></td>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Destroy', post, :confirm => 'Are you sure', :method => :delete %></td> -->
              <div class="article-actions">
                        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary rails-btn" %> 
                        <%= button_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger rails-btn"%>
                </div>

          </div>
          </div>
      </div>
    <% end %>

<%= link_to 'New Post', new_post_path %>
