
<h2 align="center"><%= @post.title %> </h2>
 
 
 <div class="card col-sm-8 offset-sm-2">
 <h4 class="center description"> Name </h4>
  <%= simple_format(@post.name)  %>
 <h4 class="center"> Description </h4>
     <%= simple_format(@post.content) %>
        <div class="article-actions">
              <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-primary rails-btn" %> 
              <%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger rails-btn"%>
              <%= button_to 'View all articles', posts_path, class: "btn btn-success rails-btn"%>

      </div>
  </div>


