
<h2 align="center"><%= @post.title %> </h2>
 
 
 <div class="card col-sm-8 offset-sm-2">
 <ul class="listing">
   <div class="row d-flex justify-content-center">
    <div class="col-md-4 offset-md-2">
        <li>Created by: </li>
        <li><%= link_to gravatar_for(@post.user), user_path(@post.user) %></li>
        <li class="post-title">
            <%= link_to @post.user.username, user_path(@post.user) %>
        </li>
        <li>
             <small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small>
        </li>
    </div>
   </div>
 </ul>  
 <h4 class="center description"> Name </h4>
  <%= simple_format(@post.name)  %>
 <h4 class="center"> Description </h4>
     <%= simple_format(@post.content) %>
        <div class="article-actions">
        <% if logged_in? && current_user == @post.user %>
              <%= button_to 'Edit', edit_post_path(@post), class: "btn btn-primary rails-btn" %> 
              <%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger rails-btn"%>
        <% end %>      
              <%= button_to 'View all articles', posts_path, class: "btn btn-success rails-btn"%>
    
      </div>
  </div>


